@charset "utf-8";
.loopSlide {
    overflow: hidden;
}

.loopSlide > div {
    display: flex;
    animation: slide-to-left 5s linear infinite;
}

.loopSlide > div > * {
    min-width: calc(100% / 4);
}

.loopSlide > div:hover{
    animation-play-state: paused;
}

.loopSlide img{
    margin: 20px;
}

@keyframes slide-to-left {
    100% { transform: translateX(-100%) }
}
