@charset "utf-8";
.loopSlide {
    overflow: hidden;
}

.loopSlide > div {
    display: flex;
    animation: slide-to-left 10s linear infinite;
}

.loopSlide > div > * {
    min-width: calc(100% / var(--slideToShow));
}

.loopSlide > div:hover{
    animation-play-state: paused;
}

.loopSlide img{
    margin-right: 20px;
}

@keyframes slide-to-left {
    100% { transform: translateX(-100%) }
}

@keyframes slide-to-left {
    100% { transform: translateX(calc(-100% * (var(--slideNum) / var(--slideToShow)))) }
}
