@charset "utf-8";
body{
    font-family: serif;
}

/* レイアウト */
.wrapper {
    max-width: 38rem;
    margin: auto;
    padding: 0 1rem;
}

h1{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

p{
    margin-top:20px;  
}

section:first-child h1 {
    font-size: 4rem;
    padding-top:100px;
    margin-bottom: 20px;
}

.title {
    font-size: min(10vw, 4rem);
    margin-bottom: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

img {
    max-width: 100%;
}
/*
CONCEPT
*/
.concept {
    margin-top: 4rem;
    background: linear-gradient(
        to left, 
        transparent 0%, 
        transparent 20%, 
        rgb(189, 189, 189) 20%, 
        rgb(189, 189, 189) 100%
    );
    width:100%;
}
.concept p {
    text-align: left;
    margin-bottom: 2rem;
}

/*
GALLERY
*/
.gallery{
    margin-bottom: 4rem;
}
.gallery div{
    display: flex;
    padding: 0 5rem;
    justify-content:center; 
}
.gallery h2{
    text-align: center;
}
.gallery img:hover{
	opacity:0.5;
	cursor: pointer;
}

/*
ACCESS
*/
.access h2{
    text-align: center;
}

/*
Footer
*/
#footer{
    background:#202020;
    padding:20px;
    color:#f0f0f0;
    text-align: center;
    width: 100%;
    position: sticky;
}

/*
DESKTOP SIZE
*/
@media(min-width: 800px){
    /* CONCEPT*/
    .concept {
        display: flex;
        margin: 10rem 0;
    }
    .concept p {
        text-align-last: left;
    }
    .concept img {
        margin: -6rem 0;
        max-width: 33rem;
    }
    .title {
        margin-bottom: 3rem;
    }
}

/*
MOBILE SIZE
*/
@media(max-width: 400px){
    p{
        font-size: small;
        margin-top: 0.5rem;
    }
    .title {
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .gallery{
        margin: 0;
    }
    .gallery div {
        display: block;
        padding: 0 1rem;
    }
    .gallery img{
        padding: 1rem;
    }
}
